body {
  background-color: #f6f3eeff;
}

[class*="hero"] {
  min-height: 360px !important;
  height: auto !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
